/*
 * toplevel import for ZPY
 */

@use "dims";
@use "card";

@use "common/flex";
@use "common/rhythm";

.board {
  @include flex.column;
}

.round {
  @include flex.row-center;
  align-items: flex-start;
}

.player-column {
  @include flex.column;

  > .action-info {
    min-height: rhythm.rh(10);

    @include rhythm.rh-padding-y();
    @include flex.column;
  }
}

.hand {
  height: rhythm.rh(10);

  @include flex.row-center;
  position: relative;

  @include rhythm.rh-padding();

  &::after {
    content: "[hand]";
    font-family: monospace;

    position: absolute;
    bottom: 0;
    right: 0;

    opacity: 0;
    transition: all ease-in 4s;
  }
  &:hover::after {
    opacity: 1;
    transition: all 0s;
  }
}

.action {
  min-width: card.$def-width * 6;
  height: rhythm.rh(10);
  background-color: rgb(169, 191, 212);

  @include flex.row-center;

  @include rhythm.rh-border-full();
  border-radius: rhythm.rh(0.5);
  border-style: solid;
  border-color: lightgrey;

  &.draw {
    > .deck {
      @include flex.row-center;
      flex-basis: 40%;

      > .card:hover {
        cursor: pointer;
      }
    }

    > .bids {
      @include flex.row-center;
      flex-basis: 60%;
    }
  }
}

.cardarea {
  display: flex;
  overflow: auto;
  padding: rhythm.rh(1);
  padding-right: rhythm.rh(1) + 0.75 * card.$def-width;

  &.empty {
    padding-right: rhythm.rh(1);
  }
}
