/*
 * toplevel import for ZPY
 */

@use "dims";
@use "card";

@use "common/flex";
@use "common/rhythm";
@use "common/tooltip";

body {
  font-family: "Minion Pro", "Minion", "Trebuchet MS", "Trebuchet", sans-serif;
}

.board {
  @include flex.column;
}

///////////////////////////////////////////////////////////////////////////////

.round {
  position: relative;
  @include flex.row-center;
  align-items: flex-start;
}

.player-column {
  position: relative;
  @include flex.column;

  min-width: rhythm.rh(10);
  padding: rhythm.rh(1);

  > div {
    padding: rhythm.rh(0.5);
    @include rhythm.rh-margin-y(0.5);
  }
}

.player-info {
  position: relative;

  @include flex.row-center;
  justify-items: flex-start;

  &.current {
    @include rhythm.rh-border-full(0.5, 1rem / 8);
    border-radius: rhythm.rh(0.5);
    border-style: solid;
    border-color: green;

    // the host icon is positioned relative to the padding-edge of its
    // parent, which changes depending on whether it has the "current" border
    > .host-wrapper {
      top: rhythm.rh(-0.875);
      left: rhythm.rh(0.625);
    }
  }

  // all tooltip icons are structured as:
  //
  //  <div class="foo-wrapper">
  //    <div aria-label="tooltip text>
  //      <img />
  //    </div>
  //  </div>
  //
  // this is because the tooltip div needs to be position: absolute, but we
  // often want to position the icon itself absolutely, so we need another
  // div wrapping the whole ensemble.
  > .host-wrapper {
    position: absolute;
    top: rhythm.rh(-0.75);
    left: rhythm.rh(0.75);
  }

  > .avatar {
    width: rhythm.rh(2.25);
    height: rhythm.rh(2.25);
    @include rhythm.rh-padding-x(0.25);
  }

  > .nick {
    @include rhythm.rh-padding-x(0.25);
  }

  > .team-wrapper {
    @include rhythm.rh-padding-x(0.25);
  }
}

.action-info {
  @include flex.column;
  justify-content: center;

  width: 100%;
  min-height: rhythm.rh(10);

  > .ready {
    padding: rhythm.rh(1);
    border-radius: rhythm.rh(4.5);
    background-color: lightgreen;

    > img {
      width: rhythm.rh(4.5);
    }
  }

  > .play {
    position: relative;

    @include flex.column;
    justify-content: center;

    > .indicator-wrapper {
      position: absolute;
      top: -1 * rhythm.rh(1);
      right: -1 * rhythm.rh(1);
    }
  }
}

.score-info {
  @include flex.column;

  width: 100%;
  min-height: rhythm.rh(9);

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    background-image: linear-gradient(to right, transparent, #666, transparent);
  }

  > .rank {
    display: flex;
    justify-content: space-around;
    align-items: baseline;

    width: 100%;
    padding: rhythm.rh(0.5);

    font-size: rhythm.rh(0.75);
  }

  > .points {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    width: 100%;
    padding: rhythm.rh(0.5);

    > .point-column {
      @include flex.column;
      padding-bottom: card.container-padding(0.5, card.height-for(card.$width-score));
    }
  }
}

.host, .indicator {
  width: rhythm.rh(2.25);
  height: rhythm.rh(2.25);
}
.team {
  width: rhythm.rh(1);
  height: rhythm.rh(1);
}

.trump-indicator-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;

  font-size: rhythm.rh(2);
}

.friend-indicator-wrapper {
  position: absolute;
  top: rhythm.rh(2.375);
  left: -1 * rhythm.rh(2.5);

  > .friend-indicator {
    @include flex.column;
    align-items: flex-end;

    > .friend {
      color: darkgrey;
      font-size: rhythm.rh(1);

      &.found {
        color: lightgrey;
        text-decoration: line-through;

        > .clubs, > .spades, > .diamonds, > .hearts, > .trump {
          color: lightgrey;
        }
      }
    }
  }
}

.clubs, .spades {
  color: black;
}
.diamonds, .hearts {
  color: red;
}
.trump {
  color: goldenrod;
}

///////////////////////////////////////////////////////////////////////////////

.action {
  position: relative;
  @include flex.row-center;

  min-width: card.$width-hand * 6;
  height: rhythm.rh(10);

  @include rhythm.rh-border-full();
  border-radius: rhythm.rh(0.5);
  border-style: solid;
  border-color: lightgrey;

  background-color: rgb(169, 191, 212);

  &.draw {
    > .deck {
      @include flex.row-center;
      flex-basis: 40%;

      > .card:hover {
        cursor: pointer;
      }
    }

    > .bids {
      @include flex.row-center;
      flex-basis: 60%;
    }
  }
}

.cardarea {
  display: flex;
  overflow: auto;
  @include card.container-h(1, card.$width-hand);

  &.empty {
    padding-right: rhythm.rh(1);
  }
}

$-card-height-friend: card.height-for(card.$width-friend);

/*
 * friend selector UI
 *
 * friend selection is the only action which requires a UI space taller than
 * the height of a card, so rather than pushing everything out of the way, just
 * position this overtop of the normal action area
 */
.friend-selector-container {
  position: absolute;
  @include flex.column;

  bottom: -1 * rhythm.$px;  // account for our parent's border

  width: card.fit(24, card.$width-friend);
  &.fsc-trump {
    width: card.fit(26, card.$width-friend);
  }

  @include rhythm.rh-border-full(2);
  padding-bottom: card.container-padding(2, $-card-height-friend) - rhythm.$px;
  border-radius: inherit;
  background-color: inherit;
}

.friend-selector-unit {
  display: flex;
  flex-wrap: wrap;

  @include card.container-h(0, card.$width-friend);
}

///////////////////////////////////////////////////////////////////////////////

kbd {
  // taken from MDN page about <kbd>
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-size: .85rem;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

.instructions {
  padding: rhythm.rh(0.25);

  max-width: card.$width-hand * 6; // smaller than .action
  min-height: rhythm.rh(1.25);

  font-size: rhythm.rh(0.875);
  text-align: center;

  &.inactive {
    color: grey;
    font-style: italic;
  }
}

.hand {
  position: relative;
  @include flex.row-center;

  height: rhythm.rh(10);
  padding: rhythm.rh(1);

  &::after {
    content: "[hand]";

    position: absolute;
    bottom: 0;
    right: 0;

    opacity: 0;
    transition: all ease-in 4s;
  }
  &:hover::after {
    opacity: 1;
    transition: all 0s;
  }
}
