[Unit]
Description=ZPY asynchronous maintenance

[Service]
User=zpy
ExecStart=psql zpydb -f /usr/local/lib/zpy/scripts/gc.sql
WorkingDirectory=/usr/local/lib/zpy

[Install]
WantedBy=multi-user.target
