/*
 * balloon.css: https://kazzkiq.github.io/balloon.css/
 *
 * modified for SCSS
 */

$balloon-border-radius: 0.25rem;
$balloon-color: rgba(16, 16, 16, 0.95);
$balloon-text-color: #fff;
$balloon-font-size: 0.875rem;
$balloon-move: 0.125rem;  // animation distance
$balloon-distance: 0.5rem;  // distance from target; also affects arrow size
$balloon-arrow-offset: 1rem;  // arrow offset for un-centered positions

[aria-label][data-balloon-pos] {
  overflow: visible;
  position: relative;
  cursor: pointer;
}

[aria-label][data-balloon-pos]:after {
  opacity: 0;
  pointer-events: none;

  transition: all 0.15s ease-out 0.15s;

  text-indent: 0;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
  font-size: $balloon-font-size;

  background: $balloon-color;
  border-radius: $balloon-border-radius;
  color: $balloon-text-color;

  content: attr(aria-label);

  padding: .5rem 1rem;
  position: absolute;
  white-space: nowrap;
  z-index: 10;
}

[aria-label][data-balloon-pos]:before {
  width: 0;
  height: 0;
  border: ($balloon-distance / 2) solid transparent;
  border-top-color: $balloon-color;
  opacity: 0;
  pointer-events: none;
  transition: all 0.15s ease-out 0.15s;
  content: "";
  position: absolute;
  z-index: 10;
}

[aria-label][data-balloon-pos]:hover:before,
[aria-label][data-balloon-pos]:hover:after,
[aria-label][data-balloon-pos][data-balloon-visible]:before,
[aria-label][data-balloon-pos][data-balloon-visible]:after,
[aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:before,
[aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:after {
  opacity: 1;
  pointer-events: none;
}

[aria-label][data-balloon-pos][data-balloon-break]:after {
  white-space: pre;
}

[aria-label][data-balloon-pos][data-balloon-break][data-balloon-length]:after {
  white-space: pre-line;
  word-break: break-word;
}

[aria-label][data-balloon-pos][data-balloon-blunt]:before,
[aria-label][data-balloon-pos][data-balloon-blunt]:after {
  transition: none;
}

///////////////////////////////////////////////////////////////////////////////

[aria-label][data-balloon-pos][data-balloon-pos="up"]:after {
  bottom: 100%;
  left: 50%;
  margin-bottom: $balloon-distance;
  transform: translate(-50%, $balloon-move);
  transform-origin: top;
}

[aria-label][data-balloon-pos][data-balloon-pos="up"]:before {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, $balloon-move);
  transform-origin: top;
}

[aria-label][data-balloon-pos][data-balloon-pos="up"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="up"][data-balloon-visible]:after,
[aria-label][data-balloon-pos][data-balloon-pos="up"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos="up"][data-balloon-visible]:before {
  transform: translate(-50%, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos="up-left"]:after {
  bottom: 100%;
  left: 0;
  margin-bottom: $balloon-distance;
  transform: translate(0, $balloon-move);
  transform-origin: top;
}

[aria-label][data-balloon-pos][data-balloon-pos="up-left"]:before {
  bottom: 100%;
  left: $balloon-arrow-offset;
  transform: translate(0, $balloon-move);
  transform-origin: top;
}

[aria-label][data-balloon-pos][data-balloon-pos="up-left"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="up-left"][data-balloon-visible]:after,
[aria-label][data-balloon-pos][data-balloon-pos="up-left"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos="up-left"][data-balloon-visible]:before {
  transform: translate(0, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos="up-right"]:after {
  bottom: 100%;
  right: 0;
  margin-bottom: $balloon-distance;
  transform: translate(0, $balloon-move);
  transform-origin: top;
}

[aria-label][data-balloon-pos][data-balloon-pos="up-right"]:before {
  bottom: 100%;
  right: $balloon-arrow-offset;
  transform: translate(0, $balloon-move);
  transform-origin: top;
}

[aria-label][data-balloon-pos][data-balloon-pos="up-right"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="up-right"][data-balloon-visible]:after,
[aria-label][data-balloon-pos][data-balloon-pos="up-right"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos="up-right"][data-balloon-visible]:before {
  transform: translate(0, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos="down"]:after {
  left: 50%;
  margin-top: $balloon-distance;
  top: 100%;
  transform: translate(-50%, -1 * $balloon-move);
}

[aria-label][data-balloon-pos][data-balloon-pos="down"]:before {
  width: 0;
  height: 0;
  border: ($balloon-distance / 2) solid transparent;
  border-bottom-color: $balloon-color;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -1 * $balloon-move);
}

[aria-label][data-balloon-pos][data-balloon-pos="down"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="down"][data-balloon-visible]:after,
[aria-label][data-balloon-pos][data-balloon-pos="down"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos="down"][data-balloon-visible]:before {
  transform: translate(-50%, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos="down-left"]:after {
  left: 0;
  margin-top: $balloon-distance;
  top: 100%;
  transform: translate(0, -1 * $balloon-move);
}

[aria-label][data-balloon-pos][data-balloon-pos="down-left"]:before {
  width: 0;
  height: 0;
  border: ($balloon-distance / 2) solid transparent;
  border-bottom-color: $balloon-color;
  left: $balloon-arrow-offset;
  top: 100%;
  transform: translate(0, -1 * $balloon-move);
}

[aria-label][data-balloon-pos][data-balloon-pos="down-left"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="down-left"][data-balloon-visible]:after,
[aria-label][data-balloon-pos][data-balloon-pos="down-left"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos="down-left"][data-balloon-visible]:before {
  transform: translate(0, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos="down-right"]:after {
  right: 0;
  margin-top: $balloon-distance;
  top: 100%;
  transform: translate(0, -1 * $balloon-move);
}

[aria-label][data-balloon-pos][data-balloon-pos="down-right"]:before {
  width: 0;
  height: 0;
  border: ($balloon-distance / 2) solid transparent;
  border-bottom-color: $balloon-color;
  right: $balloon-arrow-offset;
  top: 100%;
  transform: translate(0, -1 * $balloon-move);
}

[aria-label][data-balloon-pos][data-balloon-pos="down-right"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="down-right"][data-balloon-visible]:after,
[aria-label][data-balloon-pos][data-balloon-pos="down-right"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos="down-right"][data-balloon-visible]:before {
  transform: translate(0, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos="left"]:after {
  margin-right: $balloon-distance;
  right: 100%;
  top: 50%;
  transform: translate($balloon-move, -50%);
}

[aria-label][data-balloon-pos][data-balloon-pos="left"]:before {
  width: 0;
  height: 0;
  border: ($balloon-distance / 2) solid transparent;
  border-left-color: $balloon-color;
  right: 100%;
  top: 50%;
  transform: translate($balloon-move, -50%);
}

[aria-label][data-balloon-pos][data-balloon-pos="left"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="left"][data-balloon-visible]:after,
[aria-label][data-balloon-pos][data-balloon-pos="left"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos="left"][data-balloon-visible]:before {
  transform: translate(0, -50%);
}

[aria-label][data-balloon-pos][data-balloon-pos="right"]:after {
  left: 100%;
  margin-left: $balloon-distance;
  top: 50%;
  transform: translate(-1 * $balloon-move, -50%);
}

[aria-label][data-balloon-pos][data-balloon-pos="right"]:before {
  width: 0;
  height: 0;
  border: ($balloon-distance / 2) solid transparent;
  border-right-color: $balloon-color;
  left: 100%;
  top: 50%;
  transform: translate(-1 * $balloon-move, -50%);
}

[aria-label][data-balloon-pos][data-balloon-pos="right"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="right"][data-balloon-visible]:after,
[aria-label][data-balloon-pos][data-balloon-pos="right"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos="right"][data-balloon-visible]:before {
  transform: translate(0, -50%);
}

///////////////////////////////////////////////////////////////////////////////

[aria-label][data-balloon-pos][data-balloon-length="small"]:after {
  white-space: normal;
  width: 80px;
}
[aria-label][data-balloon-pos][data-balloon-length="medium"]:after {
  white-space: normal;
  width: 150px;
}
[aria-label][data-balloon-pos][data-balloon-length="large"]:after {
  white-space: normal;
  width: 260px;
}
[aria-label][data-balloon-pos][data-balloon-length="xlarge"]:after {
  white-space: normal;
  width: 380px;
}
@media screen and (max-width: 768px) {
  [aria-label][data-balloon-pos][data-balloon-length="xlarge"]:after {
    white-space: normal;
    width: 90vw;
  }
}
[aria-label][data-balloon-pos][data-balloon-length="fit"]:after {
  white-space: normal;
  width: 100%;
}
